In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/raw_ratings.csv')

In [4]:
df

                          user_id  item_id  rating
0        wKgJ11YGMaCRRSrYAwa4Ag==    23275       1
1        wKgcCl4oIvlulDN2EnEhAg==    64649       1
2        wKgJ11dBck85sEDZA+s7Ag==    63786       1
3        wKgJ1lYGv/xI8nRjAyAbAg==    42465       1
4        wKgJ1lYISLBegSKNAy5uAg==    64573       1
...                           ...      ...     ...
1107894  wKgcFFtE/cxVhI/rA+GVAg==    62445       1
1107895  wKgcFFtE/cxVhI/rA+GVAg==    62445      -1
1107896  wKgcFFtGTRZTAq8fBdzQAg==    62278       1
1107897  wKgcFFtIOMJQR68cCMNHAg==    64649      -1
1107898  wKgcFFtLSGlTAq8fNSmCAg==    63178      -1

[1107899 rows x 3 columns]

In [6]:
df.drop_duplicates(inplace=True)

In [23]:
df['user_rating_cnt'] = df['user_id'].map(df['user_id'].value_counts())

In [26]:
df['item_rating_cnt'] = df['item_id'].map(df['item_id'].value_counts())

In [28]:
df = df[(df['user_rating_cnt'] > 1) & (df['item_rating_cnt'])]

In [30]:
df['user_id'].unique().shape

(32686,)

In [31]:
df['item_id'].unique().shape

(1237,)

In [34]:
df.drop('user_rating_cnt', axis=1, inplace=True)
df.drop('item_rating_cnt', axis=1, inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [51]:
df['rating'].value_counts()

 1    37000
-1    23955
Name: rating, dtype: int64

In [36]:
from sklearn.model_selection import train_test_split

In [45]:
train, test = train_test_split(df, train_size=0.9, shuffle=True)

In [46]:
test

                          user_id  item_id  rating
267592   wKgcDVrwc2kVPhTBBVhzAg==    64849       1
332820   wKgcCl36aRx2OgftB1f+Ag==    63129      -1
388220   wKgcCl143M0gHFCDBeXhAg==    59532      -1
543544   wKgcEVvM5QKtXDA8A4cQAg==    62509       1
328438   wKgcDF/DYYCiOje/A723Ag==    64994       1
...                           ...      ...     ...
757143   wKgcDlry8lMaenHRBI+EAg==    59944       1
937      wKgcC10QwqYc4TiWBzjIAg==    63853      -1
1039947  wKgcCl2VUe4xmWhfA1ZCAg==    59022      -1
1095020  wKgcDV3c+4Jo1D/YBPzBAg==    45183       1
948048   wKgcEV6mx+hQXG6+GgYpAg==    59532       1

[6096 rows x 3 columns]

In [47]:
test = test[test['item_id'].isin(train['item_id'])]
test

                          user_id  item_id  rating
267592   wKgcDVrwc2kVPhTBBVhzAg==    64849       1
332820   wKgcCl36aRx2OgftB1f+Ag==    63129      -1
388220   wKgcCl143M0gHFCDBeXhAg==    59532      -1
543544   wKgcEVvM5QKtXDA8A4cQAg==    62509       1
328438   wKgcDF/DYYCiOje/A723Ag==    64994       1
...                           ...      ...     ...
757143   wKgcDlry8lMaenHRBI+EAg==    59944       1
937      wKgcC10QwqYc4TiWBzjIAg==    63853      -1
1039947  wKgcCl2VUe4xmWhfA1ZCAg==    59022      -1
1095020  wKgcDV3c+4Jo1D/YBPzBAg==    45183       1
948048   wKgcEV6mx+hQXG6+GgYpAg==    59532       1

[6061 rows x 3 columns]

In [49]:
train.to_csv('data/train.csv', header=None, index=None)
test.to_csv('data/test.csv', header=None, index=None)

In [57]:
pd.read_csv('data/train.csv', header=None, names=['user_id', 'item_id', 'rating'])

                                user_id  item_id  rating
0              wKgcEFzhHPi/HIhcBJseAg==    64189       1
1      ad2d7c3a9ce847f8ba767766c4cab613    66673      -1
2              wKgcD1tLZ7p1cScDM2+fAg==    59872       1
3              wKgcD11rmi46O2A5CwkBAg==    64505       1
4              wKgcEF6S0xx7SHxmBSUfAg==    64758       1
...                                 ...      ...     ...
54854          wKgcD1zk5XFo3RTaBthEAg==    59022      -1
54855          wKgcDV6bPpU8EW8CGhfjAg==    29511       1
54856          wKgcD1+5G2GkIjx8GMZfAg==    65497       1
54857          wKgcCl7tIMxQ7R3eCOvAAg==    64994      -1
54858          wKgcDWAMgzBQvHGdL5N5Ag==    64994       1

[54859 rows x 3 columns]

In [59]:
df[['user_id', 'item_id']].values

array([['2173e4df-2fba-41fe-81e5-e2326d01f1c1', 62587],
       ['wKgJ3lbhp80evEjPBDk1Ag==', 58683],
       ['wKgJ3lbhp80evEjPBDk1Ag==', 58683],
       ...,
       ['wKgcEls2JYmr2GxmA0E1Ag==', 62445],
       ['wKgcEls3JNx1lBXuC/1+Ag==', 60129],
       ['wKgcFFtE/cxVhI/rA+GVAg==', 62445]], dtype=object)

In [60]:
train.to_csv('data/smotrim.train.rating', header=None, index=None, sep='\t')
test.to_csv('data/smotrim.test.rating', header=None, index=None, sep='\t')

In [66]:
train.iloc[1]['item_id']

66673

In [73]:
train[['user_id', 'item_id', 'rating']]

                                 user_id  item_id  rating
755178          wKgcEFzhHPi/HIhcBJseAg==    64189       1
863297  ad2d7c3a9ce847f8ba767766c4cab613    66673      -1
445331          wKgcD1tLZ7p1cScDM2+fAg==    59872       1
675040          wKgcD11rmi46O2A5CwkBAg==    64505       1
389846          wKgcEF6S0xx7SHxmBSUfAg==    64758       1
...                                  ...      ...     ...
934025          wKgcD1zk5XFo3RTaBthEAg==    59022      -1
185318          wKgcDV6bPpU8EW8CGhfjAg==    29511       1
316625          wKgcD1+5G2GkIjx8GMZfAg==    65497       1
311381          wKgcCl7tIMxQ7R3eCOvAAg==    64994      -1
404228          wKgcDWAMgzBQvHGdL5N5Ag==    64994       1

[54859 rows x 3 columns]

In [ ]:
import requests
import logging
import curlify
import time

test_files = [
    (
        'regular mp4', 
        'https://mediahosting.staff.rfn.ru/video/edit/id/2451741',
        'http://cdn1.vesti.ru/_cdn_auth/secure/v/vh/mp4/high-wide/002/451/741.mp4?auth=mh&vid=2451741',
    ),
    (
        'regular mp4',
        'https://mediahosting.staff.rfn.ru/video/edit/id/2451703',
        'http://cdn1.vesti.ru/_cdn_auth/secure/v/vh/mp4/hd-wide/002/451/703.mp4?auth=mh&vid=2451703',
    ),
    (
        'long mp4',
        'https://mediahosting.staff.rfn.ru/video/edit/id/2446249',
        'http://cdn1.vesti.ru/_cdn_auth/secure/v/vh/mp4/fhd-wide/002/446/249.mp4?auth=mh&vid=2446249',
    ),
    (
        'long hls + ssl',
        'https://mediahosting.staff.rfn.ru/video/edit/id/2445568',
        'http://cdn1.vesti.ru/_cdn_auth/secure/v/vh/mp4/fhd-wide/002/445/568.mp4?auth=mh&vid=2445568',
    ),
    (
        'short mp4',
        'https://mediahosting.staff.rfn.ru/video/edit/id/2448245',
        'http://cdn1.vesti.ru/_cdn_auth/secure/v/vh/mp4/fhd-wide/002/448/245.mp4?auth=mh&vid=2448245',
    ),
    (
        'short mp3 + ssl',
        'https://mediahosting.staff.rfn.ru/audio/edit/id/974939',
        'https://mediahosting.staff.rfn.ru/audio/mp3/test/974/939.mp3'
    ),
    (
        'long mp3 + ssl',
        'https://mediahosting.staff.rfn.ru/audio/edit/id/974223',
        'https://mediahosting.staff.rfn.ru/audio/mp3/test/974/223.mp3',
    )
]

api_url = 'http://148.253.62.113:9080/transcriber/continuous/'
timeout = 10

for i, comment, ri_url, video_url in enumerate(test_files):
    logging.info('-------------------------------------')
    logging.info(f'Test #{i}')
    logging.info(f'{video_url}')
    try:
        request_body = '{"config": {"languageCode": "0", "model": "base"}, "audio": {"url": "'+video_url+'", "stream_audio_id": 0}}'
        r = requests.post(
            api_url, 
            headers={"content-type": "application/json"},
            data = request_body
        )
        logging.info(curlify.to_curl(r.request))
        task_id = r.json()['result']['id']
    except:
        logging.info('Request failed')
        break
    task_complete = False
    n_try = 0
    sec = 0
    while not task_complete:
        try:
            r = requests.get(
                api_url + task_id
            )
            task_complete = r.json()['result']['done']
            logging.info(f'Try: {n_try}, task ready: {task_complete}')
            jsonFile = open(str(n_try)+'-'+str(task_id), "w")
            jsonFile.write(json.dumps(r.json()))
            jsonFile.close()
        except:
            logging.info(curlify.to_curl(r.request))
            logging.info('Request failed')
            break
        time.sleep(timeout)
        sec += timeout
        logging.info(f'It tooks {sec} sec to complete task')
    r = requests.delete(
                api_url + task_id
    )
    logging.info(f'Deleting task: {task_id}')
    logging.info(curlify.to_curl(r.request))